# R Stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Python Stuff
*.rds
*.pkl
*.ipynb_checkpoints
*__pycache__/
__pycache__/
*pytest*

# Code Stuff
Code/Stan/*.rds

# Data Stuff
Data/R*

# Folders
Output/*
Readings/*
Private/*

# Miscellaneous
.DS_Store
