# Python Stuff
*.rds
*.pkl
*.ipynb_checkpoints
*__pycache__/
__pycache__/
*pytest*

# Data Stuff
DATA/R*

# Folders
Output/*
Readings/*
Temporary/*

# R Stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Miscellaneous
.DS_Store
